/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecdede;
    padding: 10px 20px;
    border-bottom: 2px solid #e0e0e0;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    border-radius: 50px;
  }
  
  .logo {
    width: 80px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .chef-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333333;
  }
  
  /* Navigation Right Section */
  .nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  
  /* Navbar Styling */
  .nav-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    font-size: 1.1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
  }
  
  .nav-links a:hover {
    color: #007bff;
    transition: color 0.3s ease;
  }
  
  .signin-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .signin-button:hover {
    background-color: #0056b3;
  }
  
  .signin-container {
    margin-top: 20px;
  }
  

  .account-icon {
    color: #007bff;
    margin-right: 20px;
  }
  
  .account-icon:hover {
    color: #0056b3;
  }
  