.menu-carousel-container {
  display: flex;
  
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ebcece;
}

.carousel-item-group {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: auto; /* Allows horizontal scrolling */
  gap: 1px;
  padding: 10px;
}

.carousel-item-content {
  flex: 0 0 auto;
  text-align: center;
}

.carousel-item-image {
  width: 200px;  /* Increased width */
  height: 200px; /* Increased height */
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.carousel-item-image:hover {
  transform: scale(1.05);
}

.carousel-item-content h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
