.menu-carousel-container {
  width: 80%;  /* Adjust the width as needed */
  margin: auto;
  position: relative;
}

.carousel-item-group {
  display: flex;
  justify-content: space-between;
}

.carousel-item-content {
  flex: 1;
  padding: 5px;  /* Reduced padding to decrease the gap */
  text-align: center;
}

.carousel-item-image {
  width: 100%;
  height: 500px; /* Increased height for larger images */
  object-fit: cover;
  border-radius: 8px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 3%;  /* Adjust this to move the arrows further out */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;  /* Customize arrow color */
  border-radius: 50%;
  padding: 10px;
}

.carousel-control-prev {
  left: -50px;  /* Position arrow outside the container */
}

.carousel-control-next {
  right: -50px;  /* Position arrow outside the container */
}
